.table {
  margin-top: 20px;
  overflow-y: auto;
  color: #6a5d5d;
  height: 70vh;
  scrollbar-color: gray;
  scrollbar-width: thin;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
